/* app css stylesheet */

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 800px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.book .cover {
  float: left;
  margin-right: 10px;
}

.author, .title, .count {
    display: block;
}

.books-items .book A {
    overflow: hidden;
    text-decoration: none;
}

.books-items .book {
  float: left;
  margin: 0 0em 1em 0;
  vertical-align: middle;
  height: 150px;
  width: 250px;
}

.truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="text"].search-input {
  margin-bottom: 0px;
}

.full-width {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.masthead, .search {
  margin-bottom: 30px;
}
