/* app css stylesheet */

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 800px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.books-items {
    /*margin: auto;*/
}

.book .cover {
    /*width: 90px;
    height: 70px;
    float: left;
    margin-right: 1em;
    padding-top: 49px;
    background-color: #f3f3f3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;*/
}

.book .body {
  float: right;
  margin: 10px;
}

.book .body .author {
    display: block;
    /*margin-bottom: .1em;
    color: #888;
    overflow: hidden;*/
}

.book .body .title {
    display: block;
    /*font-size: 11pt;
    text-decoration: underline;
    overflow: hidden;*/
}

.book .body .count {
    display: block;
    /*display: block;
    margin-top: .2em;
    color: #888;*/
}

.books-items .book A {
    overflow: hidden;
    text-decoration: none;
}

.books-items .book {
    float: left;
    overflow: hidden;
    margin: 0 1em 1em 0;
    vertical-align: middle;
    height: 150px;
}

.truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="text"].search-input {
  margin-bottom: 0px;
}
