<div>
  <div class="book">
    <img class="cover" ng-src="{{ data.properties.thumbnailUrl }}" width="70px" height="90px"/>
    <div class="body">
      <span class="author">{{ data.properties.authorName }}</span>
      <span class="title">{{ data.properties.title }}</span>
      <div class="description">{{ data.properties.description }}</div>
      <span class="count">Reading or willing to read: {{ data.properties.readersCount }}</span>
    </div>
  </div>
  <div ng-repeat="action in data.actions">
    <button ng-click="showActionModal(action)" class="btn btn-default">{{ action.title }}</button>
  </div>
</div>
