<div class="books-items">
  <div ng-repeat="book in data.properties.items" class="book">
        <a href ng-click="loadResource(getHrefByRel(book.links, 'self'))">
          <img class="cover" ng-src="{{ book.properties.thumbnailUrl }}" width="70px" height="90px"/>
          <div class="body">
            <span class="author truncate">{{ book.properties.authorName }}</span>
            <span class="title truncate">{{ book.properties.title }}</span>
            <span class="count truncate"> Readers count: {{ book.properties.readersCount }}</span>
          </div>
        </a>
  </div>
</div>
